In [1]:
# Day 10

In [3]:
# Using enumerate() on a list (first)
lst = ["a", "b", "c"]
for i, val in enumerate(lst):
    print(i, val)

0 a
1 b
2 c

In [5]:
# Custom Start Index (Second)
lst = ["x", "y", "z"]
for i, val in enumerate(lst, start=1):  # Start index from 1
    print(i, val)

1 x
2 y
3 z

In [7]:
#  Using enumerate() with Tuples (Third)
tup = ("apple", "banana", "cherry")
for i, val in enumerate(tup):
    print(i, val)

0 apple
1 banana
2 cherry

In [9]:
# Using enumerate() with Strings (fourth)
string = "hello"
for i, char in enumerate(string):
    print(i, char)

0 h
1 e
2 l
3 l
4 o

In [13]:
# Using enumerate() with a Dictionary (fifth)
dict_data = {"name": "Alice", "age": 25, "city": "New York"}
for i, (key, value) in enumerate(dict_data.items()):
    print(i, key, value)

0 name Alice
1 age 25
2 city New York

In [15]:
# Converting enumerate() to a List (Sixth)
lst = ["one", "two", "three"]
enum_list = list(enumerate(lst))
print(enum_list)

[(0, 'one'), (1, 'two'), (2, 'three')]